body{
    margin: 0;
    font-family: Poppins,sans-serif;
}
.top-banner{
  background-image:url(images/top-banner.png);

  background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:center left;
}
.flexible-content{
    
    padding-bottom: 150px;
    display: flex;
}
.orange-color {
    color:orange
}
h1{
    font-size: 48px;
}
h3{
    font-size: 28px;
}
.half-width{
    width: 40%;
    padding: 5%;

}
.half-width img{
    width: 100%;
    padding-left: 5px;
}
.experience-item{
    width: 40%;
    padding: 5%;
    box-shadow:10px 10px 30px rgb(114, 110, 110);
    margin-right: 20px;
    margin-left: 30px;
    border-radius: 10px;
}
#full-stack{
    border-left:10px solid ;
    border-image: linear-gradient(tomato,lightsalmon);
    border-image-slice: 1;
}
#baby-stack{
    border-left:10px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

.farabi-btn{
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 5px;

}
footer{
    text-align: center;
    margin-bottom: 20px;
}